<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script>
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				theme: "light2",
				title: {
					text: "Job Growth"
				},
				axisY: {
					title: "Total Number of Jobs",
					crosshair: {
						enabled: true
					}
				},
				toolTip: {
					shared: true
				},
				legend: {
					cursor: "pointer",
					verticalAlign: "bottom",
					horizontalAlign: "left",
					dockInsidePlotArea: true,
					itemclick: toogleDataSeries
				},
				data: [{
					type: "line",
					showInLegend: true,
					name: "Total Jobs",
					markerType: "square",
					xValueFormatString: "Q#, YYYY",
					color: "#F08080",
					dataPoints: []
				}]
			});

			chart.render();

			$("#addDataPoint").click(function () {

				let jobData = '<%- JSON.stringify(jobs) %>';
				let obj = JSON.parse(jobData);
				Object.keys(obj).forEach(function (key) {
					chart.options.data[0].dataPoints.push(
						{ label: JSON.stringify(obj[key].quarter), y: obj[key].jobs }
					);
				});
				chart.render();
			});

			function toogleDataSeries(e) {
				if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
					e.dataSeries.visible = false;
				} else {
					e.dataSeries.visible = true;
				}
				chart.render();
			}
		}
	</script>
</head>

<body>
	<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
	<button id="addDataPoint">Generate Data Point</button>
</body>

</html>