body{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.canvas1{
  width:1440px; 
  height:100px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius:0px;
    border-color: #86F89F;
}
.divvs{
      float: left;
      text-align: center;
      width: 15%;
      height: 500px;
      margin: 10px;
      border: 2px solid gray;
      border-radius: 10px;
    }

.divvs p {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}

/* Adding style to companies in the list */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* Make the companies in the list unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Alternate colors to odd list of companies */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Adding dark background to companies that are hovered */
ul li:hover {
  background: #ddd;
}

/* Upon clicking, add backgroud and strike through the company */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Adding 'checked' symbol when clicking on a company in the list */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Close button style*/
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

  padding: 30px 40px;
  color: white;
  text-align: center;
}
.jobBoard{
  text-align: center;
  width: 100%;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* 'Add company' button style */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

