<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <style>
    #resizable { 
      width: 150px; 
      height: 150px; 
      padding: 0.5em; 
      background-color: #E4ED78;
      display: inline-block    
}
    #resizable h3 { 
      text-align: center; 
      margin: 0; 
    }
    #resizable2 { 
      width: 150px; 
      height: 150px; 
      padding: 0.5em; 
      background-color: #E4ED78;
      display: inline-block;

    }
    #resizable2 h3 { 
      text-align: center; 
      margin: 0; 
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 10px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#resizable" ).resizable();
  } );
  </script>
  <style>
    .ui-controlgroup-vertical {
      width: 150px;
    }

    .ui-controlgroup.ui-controlgroup-vertical>button.ui-button,
    .ui-controlgroup.ui-controlgroup-vertical>.ui-controlgroup-label {
      text-align: center;
    }

    #car-type-button {
      width: 120px;
    }

    .ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
    }
  </style>
  <script>
    $(function () {
      $(".controlgroup").controlgroup()
      $(".controlgroup-vertical").controlgroup({
        "direction": "vertical"
      });
    });
  </script>
  <script>
    function makeReservation() {
      alert("Look forward to meeting you!");
    }
  </script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
  </script>
  <script>
    $(document).ready(function(){
      $('input.timepicker').timepicker({});
    });
  </script>
</head>

<body>

  <h1>Locate Company</h1>

  <div class="grid-container">
    <div class="grid-item">
      <h4>Google</h4>
      <img
        src="https://qtxasset.com/fiercehealthcare/1579294817/shutterstock_552493561.jpg/shutterstock_552493561.jpg?FnutpAv7hELAxdjILYqjkszwhfWhA3EW"
        width="300" height="200"><br>
      <button onclick="getCompanyLocation('Google')">Locate</button>
    </div>
    <div class="grid-item">
      <h4>Apple</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Apple_Headquarters_in_Cupertino.jpg" width="300"
        height="200"><br>
      <button onclick="getCompanyLocation('Apple')">Locate</button>
    </div>
    <div class="grid-item">
      <h4>Facebook</h4>
      <img src="https://miro.medium.com/max/11328/1*o95qKwrpLZWHnsxIQ2eJxQ.jpeg" width="300" height="200"><br>
      <button onclick="getCompanyLocation('Facebook')">Locate</button>
    </div>
  </div>

  <script>

    var coords = [
      ["Google", 37.419857, -122.078827],
      ["Apple", 37.3230, 122.0322],
      ["Facebook", 37.4846, 122.1495]
    ];

    if (navigator.geolocation) navigator.geolocation.getCurrentPosition(getUserLocation);

    function getUserLocation(position) {
      this.lat = position.coords.latitude;
      this.long = position.coords.longitude;
      alert("Current Location: Lat " + position.coords.latitude + ", Long " + position.coords.longitude);
    }

    function calcDiff(currentPos, destinationPos) {
      return Math.abs(currentPos - destinationPos);
    }

    function getCompanyLocation(name) {

      if (name === "Google") {
        alert("Your current location from " + coords[0][0] + " Long: " +
          calcDiff(this.long, coords[0][1]) + ", Lat: " + calcDiff(this.lat, coords[0][2]));
      } else if (name === "Apple") {
        alert("Your current location from " + coords[1][0] + " Long: " +
          calcDiff(this.long, coords[1][1]) + ", Lat: " + calcDiff(this.lat, coords[1][2]));
      } else {
        alert("Your current location from " + coords[2][0] + " Long: " +
          calcDiff(this.long, coords[2][1]) + ", Lat: " + calcDiff(this.lat, coords[2][2]));
      }
    }

  </script>
  
  <div id="resizable" class="ui-widget-content">
  <h3 class="ui-widget-header">Stick Note</h3> 
  </div>
  <div id="resizable2" class="ui-widget-content">
  <h3 class="ui-widget-header">Stick Note</h3>
  </div>

  <div class="widget">
    <h1>Schedule a Time to Visit!</h1>
    <fieldset>
      <legend>Company</legend>
      <div class="controlgroup">
        <select id="car-type">
          <option>Google</option>
          <option>Apple</option>
          <option>Facebook</option>
        </select>
        <label for="horizontal-spinner" class="ui-controlgroup-label"># of guests</label>
        <input id="horizontal-spinner" class="ui-spinner-input">
        <div>
          Date: <input type="text" id="datepicker">
          Time: <input type="text" class="input.timepicker">
        </div>
        <button id="reservation" onclick="makeReservation()">Reserve</button>
      </div>
    </fieldset>
    <br>
  </div>
</body>

</html>