
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <canvas id="canvas" class="canvas2"></canvas>
    <canvas id="myCanvas" class="canvas1"></canvas>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" type="text/css" href="./views/beaut.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#tabs" ).tabs({
			beforeLoad: function( event, ui ) {
				ui.jqXHR.fail(function() {
					ui.panel.html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				});
			}
		});
	} );
    </script>
    
</head>
<body>

<div id="tabs">
	<ul>
        <li><a href="/jobtrack">Job Track</a></li>
        <li><a href="/locate">Locate Company</a></li>
		<li><a href="">Weather</a></li>
		<li><a href="">Calendar</a></li>
		
	</ul>
	
</div>


</body>
</html>