<!DOCTYPE html>
<html lang="en-US"> 

<!-- Adapted from: 
     HTML5 and CSS3 for Dummies, 3rd ed.
     by Andy Harris
     Wiley, 2014
     ISBN 978-1-118-28938-9
 -->

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          type="text/css"
          href="css/jquery-ui-lightness/jquery-ui.min.css" />
    <script type="text/javascript"
            src="js/jquery.js">
    </script>
    <script type="text/javascript"
            src="js/jquery-ui-lightness/jquery-ui.min.js">
    </script>
    <script type="text/javascript"
            src="js/tabs.js">
    </script>
    <title>AJAX Tabs</title>
</head>

<body>
    <h1 class="ui-state-default">AJAX Tabs Demo</h1>
    <div id="tabs">
        <ul>
            <li><a href="/locate">Locate</a></li>
            <li><a href="courses/CMPE226.html">CMPE 226</a></li>
            <li><a href="courses/CMPE280.html">CMPE 280</a></li>
            <li><a href="courses/CMPE295A.html">CMPE 295A</a></li>
        </ul>
    </div>
</body>
</html>