<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
	<link rel="stylesheet" href="./jquery-theme/jquery-ui-theme/jquery-ui.css">
	<script src="./jquery-theme/jquery-ui-theme/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#tabs").tabs({

			});
		});
	</script>

</head>

<body>
	<div id="tabs">
		<ul>
			<li><a href="#jobtrack">Job Track</a></li>
			<li><a href="#locate">Locate Company</a></li>
			<li><a href="#schedule">Make Schedule</a></li>
			<li><a href="#stickynotes">Sticky Notes</a></li>
		</ul>
		<div id="jobtrack"></div>
		<div id="locate"></div>
		<div id="schedule"></div>
		<div id="stickynotes"></div>
	</div>
	<script>
		$.get("/jobtrack", function (data) {
			console.log("DATA FETCHED ", data)
			$("#jobtrack").html(data);
		});
		$.get("/locate", function (data) {
			$("#locate").html(data);
		});
		$.get("/schedule", function (data) {
			$("#schedule").html(data);
		});
		$.get("/stickynotes", function (data) {
			$("#stickynotes").html(data);
		});
	</script>
</body>

</html>